{% extends "diskapp.html.twig" %}

{% block custom_styles %}{% endblock %}

{% block main %}
 <div>
    <small>{{ artists|length }} artistes référencés</small>

    <section>
        <div class="d-flex">
            {% if is_granted('ROLE_ADMIN') %}
                <button class="m-2 btn btn-danger text-white disabled" onclick="deleteSelectedArtists();" id="deleteSelected">Supprimer la sélection</button>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="/artists/add" class="my-2 btn btn-success text-white">Ajouter un artiste</a>
            {% endif %}
        </div>
    </section>

    <table class="table table-striped table-hover  w-100" id="artistsTable">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col" class="align-bottom">
                        <input  type="checkbox" name="selectAll" id="selectAll" onclick="toggleGroupSelect(this.checked);enableGroupDelete();">
                    </th>
                {% endif %}
                <th class="align-middle" scope="col">Nom</th>
                <th class="align-middle" scope="col">Ajouté par</th>
                {#<th class="align-middle" scope="col"></th>#}
            </tr>
        </thead>
        <tbody>
            <!--Items-->
            {% for artist in artists %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="align-middle"><input  type="checkbox" name="{{ artist.id }}" id="{{ artist.id }}" onclick="enableGroupDelete();"></td>
                    {% endif %}
                    <td class="align-middle"><a href="/artists/{{ artist.id }}">{{ artist.name }}</a></td>
                    <td class="align-middle"><a href="/user/{{ artist.curator.id }}">{{ artist.curator.username }}</a></td>

                    {#<td class="align-middle text-center">
                        <a href="/artists/set/{{ artist.id }}" class="btn btn-info text-white">Modifier</a>
                        <button  class="btn btn-danger text-white" onclick="if(confirm('Attention : confirmer ?')) {deleteArtist({{ artist.id }})}">Supprimer</button>
                    </td>#}
                </tr>
            {% else %}
                <tr>
                    <td colspan="2"><i>Nothing to show...</i></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="assets/js/artists.js"></script>
{% endblock %}