{% extends "diskapp.html.twig" %}

{% block custom_styles %}{% endblock %}

{% block main %}
    <h2>Données actuelles</h2>
    <div>
        <section>
            <h3>Registre</h3>
            <ul>
                <li>{{ total_references }} références dans le registre</li>
                <li>Style le plus référencé : {{ most_referenced_genre }} ( {{ most_referenced_genre_total }} références)</li>
                <li>Interprète le plus référencé : {{ most_referenced_artist }} ({{ most_referenced_artist_total }} références)</li>
                <li>Dernier disque référencé : <a href="">{{ last_referenced_name }} - {{ last_referenced_artist }}</a> ({{ last_referenced_registered }})</li>
            </ul>
        </section>
        <section>
            <h3>Stock</h3>
            <ul>
                <li>{{ total_stock }} disques en stock</li>
                <li>Stock maximum : {{ max_stocked_disk_stock }} exemplaires de {{ max_stocked_disk_name }} - {{ max_stocked_disk_artist }}</li>
                <li>{{ total_out_of_stock }} références en rupture de stock</li>
            </ul>
        </section>
    </div>
{% endblock %}

{% block custom_scripts %}{% endblock %}
