{% extends "diskapp.html.twig" %}

{% block custom_styles %}{% endblock %}

{% block main %}
 <div>
    <small>{{ labels|length }} labels référencés</small>

    <section>
        <!--Options-->
    </section>
    <section>
        <!--Colonnes-->
    </section>

    <table class="table table-striped table-hover  w-100">
        <thead>
            <tr>
                <th scope="col" class="align-bottom">
                    <input  type="checkbox" name="selectAll" id="selectAll">
                </th>
                <th class="align-middle" scope="col">Nom</th>
            </tr>
        </thead>
        <tbody>
            <!--Items-->
            {% for label in labels %}
                <tr>
                    <td class="align-middle"><input  type="checkbox" name="{{ label.id }}" id="{{ label.id }}"></td>
                    <td class="align-middle"><a href="/productions/{{ label.id }}">{{ label.name }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2"><i>Nothing to show...</i></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block custom_scripts %}{% endblock %}