{% extends "diskapp.html.twig" %}

{% block custom_styles %}{% endblock %}

{% block main %}
 <div>
    <h2 class="ml-3">{{ production.name }}</h2>
    <a href="/productions/set/{{ production.id }}" class="btn btn-info text-white ml-3">Modifier</a>
    <button  class="btn btn-danger text-white ml-3" onclick="deleteProduction({{ production.id }}); setTimeout(function(){ window.location.href='/productions'; }, 50);">Supprimer</button>   
    <br>    
    <h3 class="ml-3">Disques :</h3>
    <table class="table table-striped table-hover  w-100" id="disksTable">
        <thead>
            <tr>
                <th class="align-middle text-center" scope="col">Cover</th>
                <th class="align-middle text-center" scope="col">Nom</th>
                <th class="align-middle text-center" scope="col">Artiste</th>
                <th class="align-middle text-center" scope="col">Sorti le</th>
                <th class="align-middle text-center" scope="col">Style</th>
                <th class="align-middle text-center" scope="col">Stock</th>
                <th class="align-middle text-center" scope="col">Code barre</th>
            </tr>
        </thead>
        <tbody>
    {% for disk in disks %}
            <tr>
                <td class="align-middle text-center"><img src="{{ disk.img }}" alt="Cover" height="75px"></td>
                <td class="align-middle text-center"><a href="/disks/{{ disk.id }}">{{ disk.name }}</a></td>
                <td class="align-middle text-center"><a href="/artists/{{ disk.artist.id }}">{{ disk.artist.name }}</a></td>
                <td class="align-middle text-center">{{ disk.published|date("d-m-Y") }}</td>
                <td class="align-middle text-center"><a href="/styles/{{ disk.style.id }}">{{ disk.style.name }}</a></td>
                <td class="align-middle text-center">{{ disk.stock }}</td>
                <td class="align-middle text-center">{{ disk.barcode }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block custom_scripts %}<script src="{{ script }}"></script>{% endblock %}
